@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}
body {
    display: flex;
    padding: 0 10px;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #5E63BA;
}
.container {
    display: flex;
    width: 850px;
    gap: 70px;
    padding: 60px 40px;
    background: #fff;
    border-radius: 10px;
    align-items: flex-end;
    justify-content: space-between;
    box-shadow: 0 10px 20px rgba(0,0,0,0.1);
}
.hangman-box img{
    min-width: 270px;
}
.hangman-box h1{
    font-style: 1.45rem;
    margin-top: 20px;
    text-align: center;
    text-transform: uppercase;
}
.word-display{
    display: flex;
    gap: 10px;
    list-style: none;
    align-items: center;
    justify-content: center;
}
.word-display .letter{
    width: 28px;
    font-size: 2rem;
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 40px;
    border-bottom: 3px solid #000;
}
.word-display .letter.guessed {
    border-color: transparent;
    margin: -40px 0 35px;
}
.game-box h4{
    text-align: center;
    font-size: 1.1rem;
    font-weight: 500;
    margin-bottom: 15px;
}
.game-box h4 b {
    font-weight: 600;
}
.game-box .guesses-text b {
    color: #ff0000;
}
.game-box .keyboard {
    display: flex;
    gap: 5px;
    margin-top: 40px;
    flex-wrap: wrap;
    justify-content: center;
}
.keyboard button {
    color: #fff;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    outline: none;
    padding: 7px;
    border: none;
    background: #5E63BA;
    border-radius: 4px;
    text-transform: uppercase;
    width: calc(100% / 9 - 5px);
}
.keyboard button:hover {
    background: #8286c9;
}